# Frontend configuration template
REACT_APP_API_URL=/api

# Use the public VAPID key from backend environment
REACT_APP_VAPID_PUBLIC_KEY=BDaQbOY3galc_WwK38D52o5GrXgaa01I1vWp6JgDRMWRndWTONGdQXu4T5JiJE2DXozEMb9bOreSOJfRUAplB2M
